{% extends 'base.html' %}
{% block content %}
<body>
    {% include 'nav.html' %}
    <h1> Oc storage </h1>
    <h3> hello welcome to my site for all youe character and oc storage :3 </h3>
    <p><h2>talking about what this site is</h2> <br>
        Supreme lomo stereolab dog dad blundstones, bone broth breadcrumbing bikepacking <br>
        lambrusco japanese breakfast black garlic jacobin akerman koji.<br>
         Williamsburg yo la tengo deschooling food truck artisan. Japanese breakfast ascot lyft, <br>
         reformer jacobin gut health shoegaze. Bushwick criterion mercury retrograde zizek <br>
         bandcamp le corbusier adam curtis cacio e pepe nakashima claire saffitz. <br>
         Cloud bread craft beer thrifted gastropub salvia. Flannel situationship four dollar toast tumblr.<br>
          Ube cupping yorgos direct trade girl dinner birria kickstarter kombucha grain bowl <br>
          the bear tarot pull vagus nerve.
    </p>

    <p><h2>what we offer </h2><br> I'm baby adaptogen occupy sungold biodynamic marxism blackbird <br>
        spyplane miso food truck. Angela davis cronut nineties, bushwick<br>
         tinned fish fingerstache waistcoat vinyl pitchfork didion iykyk<br>
          chambray. Orange wine cacio e pepe photo booth snackwave sambas.</p>

    <h2> would you like to make an account with us? </h2>
    
<style>
.testbtn {
  background-color: #5e1a7e;
  color: white;
  font-size: 15px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.testbtn:hover {
  background-color: #d194da;
}
</style>
<body>
<a href="/signup" class="testbtn">Sign up</a>
{% endblock %}