<!DOCTYPE html>
<html>
<head>
<style>
body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #953bac;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(251, 219, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #b95bc2;
}
</style>
</head>
<body>

<ul>
  <li><a href="/">About us</a></li>
  <li><a href="/libary">Libary</a></li>
  <li><a href="/login">login</a></li>
</ul>
</body>
</html>